 <div class="event">
 <%= event.name %>
 <li>Wagered: <%= user_event_budget.wagered%></li>
 <li>Winnings: <%= user_event_budget.winnings%></li>
 <div class ="predictions">
 <% fights.each do |fight|%>
 <%= fight.red.name %> vs. <%= fight.blue.name%>
 <br>
 <%= bet_option(fight, user)%>
 <br>
 <% end %>
  </div>
 </div>