<ul class="navbar <%= is_admin_or_mod? ? 'stretched' : ''%>">
  <li class="navbar <%= current_page?(:controller => '/events', :action => 'index') ? "selected" : ""%>"><%= link_to 'Home', events_path %></li>
  <% if is_admin_or_mod? %>
  <li class="navbar <%= current_page?(:controller => '/events', :action => 'new') ? "selected" : ""%>"><%= link_to 'Add Event', new_event_path %></li>
  <li class="navbar <%= current_page?(:controller => '/fighters', :action => 'index') ? "selected" : ""%>"><%= link_to 'Fighters', fighters_path %></li>
  <% end %>
  <li class="navbar <%= current_page?(:controller => '/profiles', :action => 'show', :user_id => current_user.id) ? "selected" : ""%>"><%= link_to "Profile", user_profile_path(current_user.id) %></li>
</ul> 