<h1>Add Event</h1>

<%= form_with model: @event, url: create_event_path, data: { turbo:false }, method: :post do |form| %>
    <% if @event.errors.any?%>
        <% @event.errors.full_messages.each do |message|%>
        <div><%= message%></div>
        <% end %>
    <% end %>

  <%= form.label :name, "Name: " %>
  <%= form.text_area :name, size: "35x1" %>
  <br>
  <%= form.label :location, "Location: " %>
  <%= form.text_area :location, size: "35x1" %>
  <br>
  <%= form.label :date, "Date: " %>
  <%= form.date_field :date %>
  <br>

  <%= form.radio_button(:category, "PPV") %>
  <%= form.label(:category, "Pay-Per-View") %>
  
  <%= form.radio_button(:category, "FN") %>
  <%= form.label(:category, "Fight Night") %>

<br>
  <%= form.submit "Add Event" %>
<% end %>