    <% content_for :css do -%>
      <%= stylesheet_link_tag params[:controller] %>
    <% end -%>
<div id="fight-ui">
<h1>Edit Fight</h1>
  <%= form_with model: @fight, url: update_fight_path(@event.id), method: :patch do |form| %>
    <% if @event.category == "PPV" %>
      <%= form.select :placement, [["Main Card", "MAIN"], ["Prelims", "PRELIMS"], ["Early Prelims", "EARLY"]] %>
    <% else %>
      <%= form.select :placement, [["Main Card", "MAIN"], ["Prelims", "PRELIMS"]] %>
    <% end %>
    <br>
    <%= form.select :locked, [["Unlocked", false], ["Locked", true]] %>
    <br>
  <%= form.submit "Update" %>
  <%= link_to "Back", @event, method: :get, id: "fights-back" %>
  <% end %>

  <div id="event-ui">