<h1>Edit Fight</h1>
  <%= form_with model: @fight, url: update_fight_path(@event.id), method: :patch do |form| %>
    <% if @event.category == "PPV" %>
      <%= form.select :placement, [["Main Card", "MAIN"], ["Prelims", "PRELIMS"], ["Early Prelims", "EARLY"]] %>
    <% else %>
      <%= form.select :placement, [["Main Card", "MAIN"], ["Prelims", "PRELIMS"]] %>
    <% end %>
    <br>
  <%= form.submit "Update" %>
  <% end %>
  <%= button_to "Back", @event, method: :get%>