<h1>Add Fight</h1>
<div data-controller="fights">
  <%= form_with model: @fight, url: create_fight_path(@event.id), method: :post do |form| %>
    <%= form.label :red, "Red Corner: "%>
    <%= form.text_area :red, data: { "fights-target": "red_query", action: "input->fights#search_red" }, size: "35x1" %>
    <br>
    <div data-fights-target="red_results" id="search_results_red"></div>
    <br>
    <%= form.label :blue, "Blue Corner: "%>
    <%= form.text_area :blue, data: { "fights-target": "blue_query", action: "input->fights#search_blue" }, size: "35x1" %>
    <div data-fights-target="blue_results" id="search_results_blue"></div>
    <br>
    <%= form.label :placement, "Placement: "%>
    <% if @event.category == "PPV" %>
      <%= form.select :placement, [["Main Card", "MAIN"], ["Prelims", "PRELIMS"], ["Early Prelims", "EARLY"]] %>
    <% else %>
      <%= form.select :placement, [["Main Card", "MAIN"], ["Prelims", "PRELIMS"]] %>
    <% end %>
    <br>
    <%= form.submit "Add Fight" %>
  <% end %>
</div>

