<!DOCTYPE html>
<html>
  <head>
    <title>UFC Bet Simulator</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= yield :css %>
    <%= javascript_importmap_tags %>
    <%= favicon_link_tag asset_path('fist-logo.svg') %>
  </head>

  <body>
  <% if current_user %>
    <%= render partial: "shared/navbar"%>
  <% end %>
  <div id="flash" class="flash">
    <%= render "layouts/flash" %>
  </div>
    <%= yield %>
  </body>
</html>
